@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  /*Cambiar color*/
  background: #eee;
}

h1 {
  font-size: 40px;
  margin-bottom: 0;
}

#main > #img-div {
  background: #e1e1e1;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
}

#main > #img-caption {
  font-size: 14px;
  margin: 15px 0 5px 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

h3 {
  text-align: center;
  margin: 50px 0;
}

h4 {
  text-align: left;
  margin: 20px 0;
}

#discography-section {
  margin-top: 30px;
}

.albums-container {
  display: flex;
  justify-content: space-around; /* Distribuye el espacio entre los elementos */
}

.albums-list {
  flex: 1; /* Ocupa todo el espacio disponible */
  margin: 0 10px; /* Margen entre las dos columnas */
}

.albums {
  margin-bottom: 10px;
}

.albums-names { 
  padding: 0;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  text-align: left;
  margin: 16px 0;
  font-size: 20px;
}

a {
  /* Cambiar color*/
  color: #477ca7;
}

a:visited {
  /* Cambiar color*/
  color: black;
}

a:hover {
  color: #e1e1e1;
  cursor: pointer;
}
